/* Скрываем текст для телефона */
.card-data__text-phone {
    display: none;
}

/* Переход на мобильную версию */
@media screen and (max-width: 1200px) {
    /* Контейнер с информацией */
    .card-data__container {
        width: 100%;
        
        margin-top: 30px;
    }

    /* Никнейм */
    .card-data__nickname {
        font-size: 14px;
    }

    /* Строка с информацией */
    .card-data {
        gap: 0 10px;

        margin-bottom: 18px;
    }

    /* У последнего нету отступа */
    .card-data:last-of-type {
        margin-bottom: 0px;
    }

    /* Номер пункта */
    .card-data__position {
        width: 20px;
        height: 20px;
        position: relative;

        border: 1px solid #959393;
        border-radius: 50%;
        background-color: #ffd12d;
    }

    /* Цифра в номере */
    .card-data__position::after {
        content: attr(data-position);
        width: 20px;
        font-size: 12px;
        text-align: center;

        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    /* Название пункта */
    .card-data__text {
        padding: 0;

        font-size: 14px;
        color: var(--text-darkblue);
    }

    /* Большой текст */
    .card-data__text_big {
        font-size: 14px;
    }

    /* Иконка уровня */
    .card-data__skill-level {
        width: 20px;
        height: 20px;
    }

    .card-data__skill-level svg {
        width: 20px;
        height: 20px;
    }

    /* Процент */
    .card-data__percent {
        font-size: 18px;
    }

    /* Скрываем текст для пк */
    .card-data__text-pc {
        display: none;
    }

    /* Показываем текст для телефона */
    .card-data__text-phone {
        display: block;
    }

    /* Рейтинг пользователя (прогрессбар) */
    .card-data__progressbar-bg {
        width: 100%; /* Минус отступ слева */

        margin: 10px 0 0 0;
    }

    /* Медалька если ты в топ 3 */
    .card-data__medal {
        position: static;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;

        margin: 20px 0 30px 0;
    }

    /* Картинка медальки */
    .card-data__medal img {
        width: 66px;
        height: 80px;
    }

    /* Блок внутри карточки */
    .card-data__medal-block {
        margin-left: 15px;
    }

    /* Текст "Поздравляем! Ты попал в ТОП рейтинга!..." */
    .card-data__medal-text {
        font-size: 14px;
        text-align: left;

        margin-top: 0px;
    }

    .card-data__medal-text br {
        display: none;
    }

    .card-data__medal-buttons {
        gap: 12px;

        margin-top: 4px;
    }

    .card-data__medal-share-vk {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .card-data__medal-share-linkedin {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }
}